.abMeContainer {
  background-image: url('../../resources/aboutMe/ash1.jpg');
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  margin: 0;
  padding: 10px 0 0 0;
}
.abMeContainer button {
  border-radius: 50px;
  padding: 10px;
  background-color: #4a4f4e;
  color: white;
  font-weight: bold;
  border-color: white;
  font-size: 20px;
}
.abMeContainer button:hover {
  background-color: #add9d6;
  cursor: pointer;
  color: #4a4f4e;
  border-color: #4a4f4e;
}
.linksInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.linksInfo .miniInfo {
  text-decoration: none;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.linksInfo .miniInfo img {
  height: 2rem;
  width: 2rem;
  margin: 0 1rem;
}
.linksInfo .miniInfo img:hover {
  cursor: pointer;
}
.linksInfo .miniInfo p {
  margin: 1rem;
  font-size: 17px;
  font-family: 'Merriweather', serif;
}
.linksInfo .miniInfo p:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.678);
  /* color: black; */
  padding: 0 2px 0 2px;
  border-radius: 5px;
}
.aboutMe {
  background-color: rgba(0, 0, 0, 0.678);
  display: flex;
  flex-direction: column;
  margin: 1rem 5rem;
  border-radius: 20px;
  color: aliceblue;
}
.containerAbMe {
  min-height: 60vh/* calc(100vh - 438, 88) */;
}
.containerAbMe .container h1 {
  font-size: 50px;
  font-family: 'Merriweather', serif;
  margin: 1rem 2rem;
  border-bottom: 1px solid white;
}
.abMeBody {
  min-height: calc(100vh - 117px);
  display: flex;
  align-items: center;
  justify-content: center;
}
.infoMe {
  margin-left: 5%;
  margin-right: 5%;
}
