.container {
  background-image: url('../../resources/landingImage/fondoLanding.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  /* display: flex;
    outline: 2px solid black; */
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  display: table-cell;
  vertical-align: middle;
}
.imageTtitle {
  font-family: 'Merriweather', serif;
  display: flex;
  margin-right: auto;
  margin-left: auto;
  justify-content: center;
  border: 10px;
  background-color: #0000006b;
}
